.ui-datagrid-column > .aqua {
	background-color: aqua;
}

.ui-datagrid-column > .fuchsia {
	background-color: fuchsia;
}

.ui-datagrid-column > .green {
	background-color: green;
}

.ui-datagrid-column > .lime {
	background-color: lime;
}


.ui-datagrid-column > .navy {
	background-color: navy;
}


.ui-datagrid-column > .orange {
	background-color: orange;
}

.ui-datagrid-column > .purple {
	background-color: purple;
}

.ui-datagrid-column > .red {
	background-color: red;
}

.ui-datagrid-column > .teal {
	background-color: teal;
}

.ui-datagrid-column > .yellow {
	background-color: yellow;
}

.ui-datagrid-column > .transparent {
	border: none;
	opacity: 0;
}