#board, #header {
	width: 1085px;
	margin: 1rem auto;
}

.header-level {
	text-align: right;
	font-size: 3rem;
	margin-top: 1rem;
}

.header-left-text, .header-left-icon-font {
	float: left;
	font-size: 1.5rem;
}

.header-left-icon-font {
	margin-right: 1rem;
}

.header-left-text {
	vertical-align: middle;
}

.header-right-text {
	margin-left: 1rem;
}

.header-right-icon-font, .header-right-text {
	float: right;
	font-size: 1.5rem;
}

.icon-font {
	margin-right: 6px;
	font-size: 1.5rem;
}

.game-navigation {
	font-size: 40px;
	margin: 20px;
	display: inline;
	color: #104E8B;
}

.link-fix {
	color: #104E8B;
	text-decoration: none;
}

.wrap {
	overflow: hidden;
}

.ui-datagrid-column > .block-game {
	width: 25px;
	height: 25px;
	margin: 0;
	box-shadow: none;
	background-image: none;
	border-style: solid;
	border-width: 1px;
}


.ui-datagrid-column {
	padding: 0;
	margin: 0;
}

.ui-datagrid-data {
	width: 0;
}

.fa-tachometer, .fa-clock-o {
	margin-left: 8rem;
}

.fa-square {
	vertical-align: bottom;
}

#board_content {
	background-color: rgba(250, 250, 250, 0.7);
}