@font-face{ 
font-family: levionv;
src: url("../fonts/Legionv3.ttf");
}
@font-face{ 
font-family:Exo ;
src: url("../fonts/Exo-Medium.otf");
}
@font-face{ 
font-family:Exobig ;
src: url("../fonts/Exo-Bold.otf");
}



body {
	background-image: url("../images/blue_bg.jpg");
	color: #FFFFFF;
}

h1 {
	color: #FFFFFF;
	border-color: #2ECCFA;
	text-align: center;
	font-size: 4rem;
	font-family: levionv;
}

.text-big {
	color: black;
	font-size: 2rem;
	font-family: Exo;
	color: #104E8B
}


.center-elements {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.button-dialog {
}


.center-inline {
	text-align: center
}

.top-space {
	margin-top: 5%;
}

.smallButton, .bigButton, .extraSmallButton {
	margin: 40px;
	padding: 10px;
	background-color: #104E8B;
	border-radius: 10px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 1.15rem;
	font-weight: normal;
}

.extraSmallButton {
	width: 100px;
}

.smallButton {
	width: 120px;
}

.bigButton {
	width: 160px;	
}

#board > div {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.opacityBox {
	background-color: #ffffff;
	opacity: .7;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	
}
.auszeichnungstext {
	font-size: 3rem;
	font-family: Exobig;
	color: #104E8B;
}


/*Dialogues*/

.ui-dialog .ui-dialog-title, .ui-dialog-content.ui-widget-content,
.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	color: #104E8B;
}



.ui-widget-content .ui-state-default, .p-command-button-fix {
	background-image: none;
	background-color: #104E8B;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 1.15rem;
	text-shadow: none;
	border-style: outset;
	border-width: 2px;
}

.ui-widget-content .ui-state-default {
	margin: 0.5rem 1rem;
	padding: 0 0.2rem;
}

.ui-dialog .ui-dialog-titlebar {
	background-color: #65AAF7;
}

#last-level-text {
	border: none;
}
