#instruction-box {
	height: 300px;
	width: 300px;
	text-align: justify;
	color: #104E8B;
	overflow: auto;
}

#wrapper {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	padding: 10px;
	opacity: 0.9;
}
