.ranking-table {
	width: 60%;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.ui-datatable .ui-paginator {
	background-color: #104E8B;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td,
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev {
	color: #104E8B;
}