<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="resources/css/GeneralLayout.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/Game.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/Colours.css"/>
	<title>Spiel</title>
</h:head> 
<body> 

<!-- HEADER STATISTIKEN -->
	<div id="header">
		<div class="header-level">
			Level <h:outputText value="#{gameController.game.currentLevel.levelNumber}" />
		</div>
		<div class="wrap">
			<i class="fa fa-square header-left-icon-font"></i>
			<h:outputText id="blocks" styleClass="header-left-text" value="Steine: #{gameController.game.currentNumberOfBlocks}" />	
			<i class="fa fa-tachometer header-left-icon-font"></i>
			<h:outputText id="points" styleClass="header-left-text" value="Punkte: #{gameController.game.currentPoints}" />
			<i class="fa fa-clock-o header-left-icon-font"></i>
			<h:form id="form">  
    			<h:outputText id="time" styleClass="header-left-text" value="Zeit: #{gameController.timer.timeToMinutes()}" />  
     			<p:poll widgetVar="poll" interval="1" listener="#{gameController.timer.incrementTime()}" update="time" />  
			</h:form> 
			<h:outputText styleClass="header-right-text" value="Ziel: höchstens #{gameController.game.currentLevel.goal} Steine übrig" />
			<i class="fa fa-unlock header-right-icon-font"></i>
		</div>
	</div>

<!-- SPIELFELD -->	
	<div>
		<p:dataGrid id="board" var="block" value="#{gameController.game.board.blockList}" columns="#{gameController.game.board.width}">
			<p:commandButton disabled="#{!gameController.timer.running}" update="board, :blocks, :points" value="" actionListener="#{gameController.makeMoveInGame(block)}" styleClass="#{block.colour.toString()} block-game "/>
		</p:dataGrid>
	</div>
	
<!-- FOOTER BUTTONS -->
	<div class="center-inline">
		<h:panelGroup id="footer">
			<p:commandLink id="pauseGame" rendered="#{gameController.timer.running}"  action="#{gameController.timer.updateRunning(false)}" onclick="PF('poll').stop();" update="#{p:component('footer')}, #{p:component('tooltips')}" styleClass="link-fix game-navigation">
				<i class="fa fa-pause"></i>
			</p:commandLink>
		
			<p:commandLink id="continueGame" rendered="#{!gameController.timer.running}" action="#{gameController.timer.updateRunning(true)}" onclick="PF('poll').start();" update="#{p:component('footer')}, #{p:component('tooltips')}, #{p:component('board')}" styleClass="link-fix game-navigation">
				<i class="fa fa-play"></i>
			</p:commandLink>
		
			<p:commandLink id="stopGame" onclick="PF('poll').stop();PF('cancelGame').show();" styleClass="link-fix game-navigation">
				<i class="fa fa-stop"></i>
			</p:commandLink> 
			
			<p:commandLink id="inGameHelp" onclick="PF('poll').stop();PF('help').show();" styleClass="link-fix game-navigation">
				<i class="fa fa-question"></i>
			</p:commandLink>	
		</h:panelGroup>
		
		<h:panelGroup id="tooltips">
			<!-- FOOTER BUTTON TOOLTIPS -->
			<p:tooltip value="Spiel beenden" for="stopGame"/>
			<p:tooltip value="Spiel pausieren (Zeit hält an)" for="pauseGame" />
			<p:tooltip value="Spiel fortsetzen (Zeit läuft weiter)" for="continueGame" />
			<p:tooltip value="Hilfe" for="inGameHelp"/>
		</h:panelGroup>
	</div>
	
<!-- POPUP LEVELZIEL -->	
	<p:dialog id="level-goal" modal="true" widgetVar="levelGoal" onShow="PF('poll').stop();"
		header="Ziel" rendered="#{gameController.timer.timeToMinutes() eq '00:00'}" visible="true">
		<h:form styleClass="center-inline">
			<div class="">
				<h:outputText value="Ziel: höchstens #{gameController.game.currentLevel.goal} Blöcke bleiben übrig" />
			</div>
			<div class="center-text">
				<p:commandButton value="Spielen" onclick="PF('poll').start();PF('levelGoal').hide();" styleClass="extraSmallButton" />
			</div>
		</h:form>
	</p:dialog>
		
<!-- POPUP ABBRECHEN -->
	<p:dialog id="cancelGame" widgetVar="cancelGame" header="Spiel abbrechen" modal="true">
		<h:form>
			<div>
				<h:outputText value="Bist du sicher, dass du das Spiel beenden möchtest?" />
			</div>
			<div class="center-inline">
				<p:commandButton action="#{gameController.toResult()}" value="Ja" styleClass="extraSmallButton"/>
				<p:commandButton value="Nein" onclick="PF('poll').start();PF('cancelGame').hide();" styleClass="extraSmallButton"/>
			</div>
		</h:form>
	</p:dialog>
	
<!-- POPUP HILFE -->
	<p:dialog id="help" showEffect="fade" widgetVar="help" header="Hilfe">
		<h:form>
			<h2>Ziel</h2>
			<div>Entferne genug Blöcke aus dem Board, um das Levelziel zu erreichen</div>
			<h2>Vorgehen</h2>
			<div>Nur Blöcke mit mindestens einem gleichfarbigen Nachbarn können weggeklickt werden</div>
			<h2>Spiel abbrechen</h2>
			<div>Klicke den Stop-Button unterhalb des Spielfelds</div>
			<h2>Spiel anhalten</h2>
			<div>Klicke den Pause-Button unterhalb des Spielfelds, um die Zeit anzuhalten</div>
			<h2>Hilfe</h2>
			<div>Klicke den Hilfe-Button unterhalb des Spielfelds, um dieses Popup erneut anzuzeigen.</div>
			<div class="center-inline">
				<p:commandButton value="Spielen" onclick="PF('poll').start();PF('help').hide();" styleClass="extraSmallButton"/>
			</div>
		</h:form>
	</p:dialog>	
		
<!-- POPUP SPIEL GEWONNEN -->	
	<p:dialog id="gameWon" modal="true" widgetVar="gameWon" onShow="PF('poll').stop();" header="Gewonnen">
		<h:form styleClass="center-inline">
			<div>
				<h:outputText value="Level geschafft!" />
			</div>
			<div class="center-text">
				<p:commandButton value="OK" action="#{gameController.toLevelFinished()}" styleClass="extraSmallButton" />
			</div>
		</h:form>
	</p:dialog>

<!-- POPUP SPIEL VERLOREN -->	
	<p:dialog id="gameLost" modal="true" widgetVar="gameLost" onShow="PF('poll').stop();" header="Verloren">
		<h:form styleClass="center-inline">
			<div>
				<h:outputText value="Levelziel nicht erreicht" />
			</div>
			<div class="center-text">
				<p:commandButton value="OK" action="#{gameController.toResult()}" styleClass="extraSmallButton"/>
			</div>
		</h:form>
	</p:dialog>
</body> 
</html>
