<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<link rel="stylesheet" type="text/css" href="resources/css/GeneralLayout.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/Intro.css"/>
	<title>Introseite</title>
</h:head> 
<body> 
	<h:form>
		<div class="center-elements top-space">
			<h1>clear blocks </h1>
			
			<div id="wrapper">
				<div id="instruction-box" >
					<h3>Ziel</h3>
					<div>Entferne genug Blöcke aus dem Board, um das Levelziel zu erreichen</div>
					<h3>Vorgehen</h3>
					<div>Nur Blöcke mit mindestens einem gleichfarbigen Nachbarn können weggeklickt werden</div>
					<h3>Level</h3>
					<div>
						LEVEL 1: 3 Farben, 30 Blöcke übrig
					</div>
					<div>
						LEVEL 2: 3 Farben, 20 Blöcke übrig
					</div>	
					<div>
						LEVEL 3: 4 Farben, 30 Blöcke übrig
					</div>	
					<div>
						LEVEL 4: 4 Farben, 20 Blöcke übrig
					</div>
				</div>
			</div>
			<div id="button-box">
				<h:commandButton value="Rangliste" action="#{gameController.toRanking()}" styleClass="smallButton" />
				<h:commandButton value="Starten" action="#{gameController.startGame()}" styleClass="smallButton"/>
			</div>			
		</div>
	</h:form>
</body> 
</html>
