<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Zwischenergebnis</title>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="resources/css/GeneralLayout.css"/>
</h:head> 
<body>
<h:form>
 	<h1>Glückwunsch!</h1>
	<div class="opacityBox text-big top-space center-inline">
		<h:outputText value="Du hast #{gameController.game.currentPoints} Punkte" />
		<div><h:outputText value="in Level #{gameController.game.currentLevel.levelNumber} erreicht"/></div>
		<div>und kommst ins nächste Level.</div>
		<div>Dein momentaner Gesamtpunktestand:</div> 
		<h:outputText value="#{gameController.game.totalPoints} Punkte"/>
	</div>
	<div class="center-elements">
		<p:commandButton styleClass="bigButton p-command-button-fix" value="Speichern" onclick="PF('saveDialog').show();"/>
		<p:commandButton styleClass="bigButton p-command-button-fix" action="#{gameController.startNewLevel()}" value="Weiterspielen"/>
		<p:commandButton styleClass="bigButton p-command-button-fix" value="Startseite" onclick="PF('dialog').show();"/>
	</div>
</h:form>
	
	<p:dialog id="popupNewGame" showEffect="fade" widgetVar="dialog" modal="true">
		<h:form>
			<h:outputText value="Willst du das Spiel wirklich beenden?" />
			<div class="commitButtons">
				<p:commandButton action="#{gameController.toIndex()}" value="Ja" styleClass="extraSmallButton"/>
				<p:commandButton value="Nein" onclick="hide();" styleClass="extraSmallButton" />
			</div>
		</h:form>
	</p:dialog>

  	<p:dialog id="popupSave" widgetVar="saveDialog" modal="true" header="Speichern">
		<h:form id="name-input">
		<p:messages autoUpdate="true" />
			<span class="big-text">
					Name:
					<p:inputText id="username" required="true"
						requiredMessage="Bitte gib zum Speichern einen Namen an">
						<f:validateRegex pattern="[a-zA-Z0-9äöüÄÖÜß]+"/>
						<f:validateLength maximum="20" minimum="2"/>
					</p:inputText>
				</span>
				
				<div class= "center-inline">
					<p:commandButton action="#{dBConnector.toSaveGame(gameController.game)}" value="speichern" styleClass="button"/>
				</div>
		</h:form>
  </p:dialog>

</body> 
</html>
