<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Rangliste</title>
	<link rel="stylesheet" type="text/css" href="resources/css/GeneralLayout.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/Ranking.css"/>
</h:head> 
<body> 
	<h1>Rangliste</h1>
	<p:dataTable id="ranking-table" var="result" value="#{dBConnector.allSavedGames}"
		paginator="true" paginatorAlwaysVisible="false" rows="7"
		styleClass="ranking-table center-elements">
  		<p:column styleClass="text-right">
			<f:facet name="header">  
                <h:outputText value="Rang" />  
            </f:facet>  
            <h:outputText value="#{result.rank}" />
		</p:column>
		<p:column styleClass="text-left">
			<f:facet name="header">  
                <h:outputText value="Name" />  
            </f:facet>  
            <h:outputText value="#{result.userName}" />
		</p:column>
		<p:column styleClass="text-right">
			<f:facet name="header">  
                <h:outputText value="Punkte" />  
            </f:facet>  
            <h:outputText value="#{result.totalPoints}" />
		</p:column>
		<p:column styleClass="text-center">
			<f:facet name="header">  
                <h:outputText value="Level" />  
            </f:facet>  
            <h:outputText value="Level #{result.levelNumber}" />
		</p:column>
		<p:column styleClass="text-center">
			<f:facet name="header">  
                <h:outputText value="Datum" />  
            </f:facet>  
            <h:outputText value="#{result.date}" />
		</p:column>
	</p:dataTable>
	<div class="center-inline">
		<h:form>
			<h:commandButton value="Startseite" action="#{gameController.toIndex()}" styleClass="smallButton" />
		</h:form>
	</div>
</body> 
</html>
