<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Ergebnis</title>
	<link rel="stylesheet" type="text/css" href="resources/css/GeneralLayout.css"/>
	</h:head> 
<body>
	<div class="opacityBox text-big top-space center-inline">	
		<p:panel id ="last-level-text" rendered="#{gameController.game.currentLevel.lastlevel and gameController.game.won}">
			<div class="text-big">Herzlichen Glückwunsch!</div>
			<div class="text-big">Du hast alle Level geschafft und</div>
		</p:panel>
		<h:outputText value="Du hast" rendered="#{!gameController.game.won}" />
		<h:outputText value=" #{gameController.game.totalPoints} Punkte" styleClass="auszeichnungstext"/>
		<div>nach</div> 
		<h:outputText value="Level #{gameController.game.currentLevel.levelNumber}" styleClass="auszeichnungstext"/>
		<div>erreicht.</div>
	</div>
	<div class="center-inline">
		<h:form>
			<p:commandButton value="Speichern"  rendered="#{gameController.game.totalPoints != 0}" onclick="PF('saveDialog').show();" styleClass="bigButton p-command-button-fix"/>
			<p:commandButton value="Startseite" rendered="#{gameController.game.totalPoints != 0}" onclick="PF('dialog').show();" styleClass="bigButton p-command-button-fix"/>
			<p:commandButton value="Startseite" rendered="#{gameController.game.totalPoints == 0}" action="#{gameController.toIndex()}" styleClass="bigButton p-command-button-fix"/>
		</h:form>
	</div>

	<p:dialog id="popupNewGame" widgetVar="dialog" modal="true">
		<h:form>
			<h:outputText value="Willst du das Spiel wirklich nicht speichern und ein Neues starten?" />
			<div class="commitButtons center-inline">
				<p:commandButton action="#{gameController.toIndex()}" value="Ja" styleClass="extraSmallButton"/>
				<p:commandButton value="Nein" onclick="hide();" styleClass="extraSmallButton">
				</p:commandButton>
			</div>
		</h:form>
	</p:dialog>
	
	  	<p:dialog id="popupSave" widgetVar="saveDialog" modal="true" header="Speichern">
		<h:form id="name-input">
		<p:messages autoUpdate="true" />
			<span class="big-text">
					Name:
					<p:inputText id="username" required="true"
						requiredMessage="Bitte gib zum Speichern einen Namen an">
						<f:validateRegex pattern="[a-zA-Z0-9äöüÄÖÜß]+"/>
						<f:validateLength maximum="20" minimum="2"/>
					</p:inputText>
				</span>
				
				<div class= "center-inline">
					<p:commandButton action="#{dBConnector.toSaveGame(gameController.game)}" value="speichern" styleClass="button"/>
				</div>
		</h:form>
  </p:dialog>

</body> 
</html>
